<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NRJNCH95');</script>
  <!-- End Google Tag Manager -->

  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZVQ046EDBT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZVQ046EDBT');
</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ '/assets/css/prism-vsc-dark-plus.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRJNCH95"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <script src="{{ '/assets/prism.js' }}"></script>
    <script src="{{ '/assets/tablelink.js' }}"></script>

    <div class="wrapper">
      <header>
        <div class="header-container">
          <a href="https://ansible.github.io/slides">
            <img
              class="header-logo"
              src="{{ '/assets/images/redhat-ansible-logo.svg' | relative_url }}"
              title="Red Hat Ansible"
              alt="Red Hat Ansible"
            />
          </a>
          <a class="header-link" href="{{ '/slides' }}">
            Slides
          </a>
          <a class="header-link" href="{{ '/slides/ebooks' }}">
            E-Books
          </a>
          <a class="header-link" href="{{ '/slides/customer_references' }}">
            Customer References
          </a>
          <a class="header-link" href="{{ '/slides/datasheets' }}">
            Collateral
          </a>
          <a target="_new" class="header-link" href="https://aap2.demoredhat.com/">
            Workshops
          </a>
          <a target="_new" class="header-link" href="https://labs.demoredhat.com/">
            Labs
          </a>
          <a class="header-link" target="_new" href="https://github.com/ansible/slides/issues/new">
            Open an Issue
          </a>
        </div>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <div class="footer-container">
          <a href="https://redhat.com">
            <img
              class="footer-logo"
              src="{{ '/assets/images/redhat-logo.svg' | relative_url}}"
              title="Red Hat"
              alt="Red Hat"
            />
          </a>
          <p class="footer-copyright">Copyright © 2023 Red Hat, Inc.</p>
          <div class="footer-linkContainer">
            <a href="https://www.redhat.com/en/about/privacy-policy" class="footer-link">Privacy statement</a>
            <span class="footer-linkSpacer">|</span>
            <a href="https://www.ansible.com/security?hsLang=en-us" class="footer-link">Security disclosure</a>
            <span class="footer-linkSpacer">|</span>
            <a href="https://www.redhat.com/en/about/all-policies-guidelines" class="footer-link">All policies and guidelines</a>
          </div>
        </div>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>